node_modules/

# Local files - 105 MB
files/

# Compiled C files
*.o
*.out
*.swp
*.swo

# Common generated executables
a.out
program
depth
hello
hello32
hello64
hello_arm
hello_arm64
hi
hiii
malloc

# OS files
.DS_Store

# Logs
*.log
